<div class="card">
    <div class="card-details">
        <p class="text-title">@Title</p>
        <p class="text-body">@Description</p>
    </div>
    <button class="card-button" @onclick=ShowLessonsButton>Дальше</button>
</div>

@if (showLession) {
    <LessionsCard Lessions="Lessions"/>
}

@code {
    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Description { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public List<Lession> Lessions { get; set; } = [];

    private bool showLession = false;

    private void ShowLessonsButton()
    {
        showLession = true;
    }

}