@inherits LayoutComponentBase

<HeaderLayout />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="container mt-5 mb-5">
            @Body
    </main>
</div>
