/* Course Card */
:root {
    --brand: #448922;
    --brand-hover: #5da030;
}

body {
    background-color: #f9f9f9;
}

a {
    color: var(--brand);
    text-decoration: underline;
}

    a:hover {
        color: var(--brand-hover);
        text-decoration: none;
    }

.navbar {
    border-bottom: 2px solid var(--brand);
    background: linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(255,255,255,0) 100%), url("../images/navbar-bg.jpg") no-repeat center;
    background-size: cover;
}

.btn-primary {
    background-color: var(--brand);
    border-color: var(--brand);
}

    .btn-primary:hover {
        background-color: var(--brand-hover);
        border-color: var(--brand-hover);
    }

.btn-outline-primary {
    border-color: var(--brand);
    color: var(--brand);
}

    .btn-outline-primary:hover {
        background-color: var(--brand);
        border-color: var(--brand);
    }

.grid {
    display: grid;
    grid-template-columns: repeat(3, 288px);
    column-gap: 123px;
    row-gap: 75px;
}

/* Course Details */
.drawer-mask {
    visibility: hidden;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000000;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.drawer-wrapper.slide > .drawer-mask {
    opacity: .5;
    visibility: visible;
}

.drawer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 35em;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    border-left: 0.063em solid gray;
    z-index: 100;
    transform: translateX(110%);
    transition: transform 0.3s ease, width 0.3s ease;
}

.drawer-wrapper .slide > .drawer {
    transform: translateX(0);
}

.drawer-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.course-details {
    padding: 20px;
}

.drawer-controls {
    padding: 20px;
    background-color: #ffffff;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.navbar { 
    border-bottom: 2px solid var(--brand);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 5%,
        rgba(255, 255, 255, 0) 100%), url("/images/navBar.jpg") no-repeat 
        bottom;
    background-size: cover;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 0.5rem;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Add Course Form */
.orange {
    color: #ff7a01;
}

.form-container {
    max-width: 700px;
    margin: 30px;
    background-color: #001925;
    padding: 30px;
    border-left: 5px solid #ff7a01;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.heading {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.form-container .form .input {
    color: #87a4b6;
    width: 100%;
    background-color: #002733;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
}

    .form-container .form .input:focus {
        border-left: 5px solid #ff7a01;
    }

.form-container .form .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #013747;
    color: #ff7a01;
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

    .form-container .form .textarea:focus {
        border-left: 5px solid #ff7a01;
    }

.form-container .form .button-container {
    display: flex;
    gap: 10px;
}

    .form-container .form .button-container .send-button {
        flex-basis: 70%;
        background: #ff7a01;
        padding: 10px;
        color: #001925;
        text-align: center;
        font-weight: bold;
        border: 1px solid transparent;
        transition: all 0.2s ease-in-out;
    }

        .form-container .form .button-container .send-button:hover {
            background: transparent;
            border: 1px solid #ff7a01;
            color: #ff7a01;
        }

    .form-container .form .button-container .reset-button-container {
        filter: drop-shadow(1px 1px 0px #ff7a01);
        flex-basis: 30%;
    }

        .form-container .form .button-container .reset-button-container .reset-button {
            position: relative;
            text-align: center;
            padding: 10px;
            color: #ff7a01;
            font-weight: bold;
            background: #001925;
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
            transition: all 0.2s ease-in-out;
        }

            .form-container .form .button-container .reset-button-container .reset-button:hover {
                background: #ff7a01;
                color: #001925;
            }

/* Course Card */
.card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}

.card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.text-body {
    color: rgb(134, 134, 134);
}

.text-title {
    font-size: 1.5em;
    font-weight: bold;
}

.card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

    .card:hover .card-button {
        transform: translate(-50%, 50%);
        opacity: 1;
    }

/* All Topic Lessions */
.container-topic {
    height: 200px;
/*    width: 350px;*/
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 10px 20px #dbdbdb;
    font-family: sans-serif;
}

.palette {
    display: flex;
    height: 86%;
    width: 100%;
}

.color {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    transition: flex 0.1s linear;
}

    .color span {
        opacity: 0;
        transition: opacity 0.1s linear;
    }

    .color:nth-child(1) {
        background: #264653;
    }

    .color:nth-child(2) {
        background: #2a9d8f;
    }

    .color:nth-child(3) {
        background: #e9c46a;
    }

    .color:nth-child(4) {
        background: #f4a261;
    }

    .color:nth-child(5) {
        background: #e76f51;
    }

    .color:hover {
        flex: 2;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

        .color:hover span {
            opacity: 1;
        }

#stats {
    height: 14%;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
    box-sizing: border-box;
    color: #bebebe;
}

    #stats svg {
        fill: #bebebe;
        transform: scale(1.2);
    }
