@inject HttpClient _http

<div class="form-container">
    <p>@_test</p>
    <div class="form">
        <span class="heading">Добавить курс</span>
        <input placeholder="Наименование" type="text" class="input" @bind=_title>
        <textarea placeholder="Описание" rows="10" cols="30" id="message" name="message" class="textarea" @bind=_description></textarea>
        <input placeholder="Изображение" type="text" class="input" @bind=_image>
        <input placeholder="Время прохождения" type="number" class="input" @bind=_time>
        <div class="button-container">
            <button class="send-button" @onclick=Send>Добавить</button>
            <button class="reset-button" @onclick=Reset>Reset</button>
        </div>

    </div>
</div>

@code {
    private string _test = string.Empty;

    private string? _title;
    private string? _description;
    private string? _image;
    private int _time;

    private async Task Send()
    {
        if (string.IsNullOrWhiteSpace(_title) || string.IsNullOrWhiteSpace(_description)
        || string.IsNullOrWhiteSpace(_image))
        {
            _test = "Заполните все поля!";
            return;
        }

        var newCourse = new Course
            {
                Title = _title,
                Description = _description,
                Image = _image,
                TimeInMinutes = _time
            };

        try
        {
            var response = await _http.PostAsJsonAsync("courses", newCourse);

            if (response.IsSuccessStatusCode)
            {
                _test = "Курс успешно добавлен!";
                Reset();
            }
            else
            {
                _test = $"Ошибка: {response.StatusCode}";
            }
        }
        catch (Exception ex)
        {
            _test = $"Ошибка при отправке: {ex.Message}";
        }
        StateHasChanged();
    }

    private void Reset()
    {
        _title = string.Empty;
        _description = string.Empty;
        _image = string.Empty;
        _time = 0;
        _test = "Добавить!";
    }
}