@page "/adminPanel"
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Admin Panel</h1>

<p>Страница админки для редактирования и изменения ресурсов.</p>


<a href="/counter">Страница 1</a>
<br />
<a href="/">Страница основная</a>
<br />
<a href="/scalar">Тест страница</a>

<UsersLayout Users="_users" Title="Users"/>

<EntitiesLayout TEntity="Course" Items="_courses" Title="Courses"/>

@code {
    private List<User>? _users;
    private List<Course>? _courses;

    protected override async Task OnInitializedAsync()
    {
        _users = await Http.GetFromJsonAsync<List<User>>("/users");
        _courses = await Http.GetFromJsonAsync<List<Course>>("/courses");    
    }
}
