@typeparam TEntity

@if (Items is null)
{
    <p>Loading...</p>
}
else
{
    <h3>@Title</h3>

    <button @onclick=showEditFormButton>
        Добавить
    </button>

    @if (_showAddContentForm)
    {
        @AddContentForm
    }

    <table>
        <thead>
            <tr>
                @foreach (var prop in typeof(TEntity).GetProperties())
                {
                    <th>@prop.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var entity in Items)
            {
                <tr>
                    @foreach (var prop in typeof(TEntity).GetProperties())
                    {
                        <td>@FormatValue(prop.GetValue(entity))</td>
                    }
                    <td>
                        <button @onclick="@(() => EditEntity(entity))">Редактировать</button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public IEnumerable<TEntity>? Items { get; set; }

    [Parameter] public RenderFragment? AddContentForm { get; set; }

    private bool _showAddContentForm = false;

    private string FormatValue(object? value)
    {
        if (value is null) return "";

        if (value is IEnumerable<object> list && value is not string)
            return string.Join(", ", list.Select(v => v?.ToString()));

        return value.ToString() ?? "";
    }

    private void EditEntity(TEntity entity)
    {
    }

    /// <summary>
    /// Показать/скрыть форму для добавления
    /// </summary>
    private void showEditFormButton() {
        _showAddContentForm = !_showAddContentForm;
        StateHasChanged();
    }
}
