@page "/topicsPage"
@inject HttpClient _http

<PageTitle>Topics</PageTitle>

<h3>IOS [SWIFT] - Разработчик</h3>

@if (_topics is null) {
    <p>Загрузка тем...</p>
} else if (!_topics.Any()) {
    <p>Тем пока нет</p>
} else {
    @foreach (var topic in _topics) {
        <TopicCard CurrentTopic="@topic" />
    }
}

@code {
    private IEnumerable<Topic>? _topics;

    protected override async Task OnInitializedAsync() {
        try {
            _topics = await _http.GetFromJsonAsync<IEnumerable<Topic>>("/topics");
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"Ошибка при загрузке тем курса {ex.Message}");
        }
    }
}
